
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="styles.css" />
	<title>Youtube Clone</title>
</head>
<body>
	<header class="header"> </header>
	<main>
		<div class="side bar"> </div>
		<div class="nav">
			<a class="nav-link active">
				<i class="material-icons">home</i>
				<span>Home</span>
			</a>
			<a class="nav-link">
				<i class="material-icons">local_fire_department</i>
				<span>Subscriptions</span>
			</a>
		</div>
		<hr>
		<a class="nav-link">
			<i class="material-icons">library_add_check</i>
			<span>Library</span>
		</a>
		<a class="nav-link">
			<i class="material-icons">history</i>
			<span>History</span>
		</a>
		<a class="nav-link">
			<i class="material-icons">play_arrow</i>
			<span>Your Videos</span>
		</a>
		<a class="nav-link">
			<i class="material-icons">thumb_up</i>
			<span>Liked Videos</span>
		</a>
		</div>
		<div class="videos">
			<div class="video">
				<div class="thumbnail">
					<img src="second.jpg" alt="" />
				</div>
				<div class="details">
					<div class="author">
						<img src="first.jpeg" alt="" />
					</div>
					<div class="title">
						<h3>
							MUKBANG SHOW
						</h3>
						<a href="">
							Gongsam
						</a>
						<span> 100K views • 1 day ago</span>
					</div>					
				</div>
			</div>
		</div>
		<div class="content"> </div>
	</main>
</body>
</html>